<div class="container p-3 logged-in divRondaVisible" >
    <div class="row">
        <div class="col-md-4 offset-md-4 "   >
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formRonda" (ngSubmit)= "guardar()" >                        
                        <div class="form-group my-1">
                            <label class="etiqueta" >Producto:<a class="obligatorio">*</a></label>
                        </div>                        
                        <div class="form-group my-1 ">
                            <select class="selectores w-100" 
                                    id="producto"
                                    formControlName="producto"
                                    [class.is-invalid]= "campoNoValido('producto')">
                                <option selected disabled value="" >Seleccione una opcion...</option>
                                <option *ngFor="let producto of productoLista" value="{{producto.Nombre}}">{{producto.Nombre}}</option>
                            </select>
                            <small *ngIf="campoNoValido('producto')" class="text-danger">
                                Campo obligatorio
                            </small>
                        </div>
                        <hr class="hr">
                        <div class="form-group my-1">
                            <label class="etiqueta" >Cantidad:<a class="obligatorio">*</a></label>
                        </div>
                        <div class="form-group">
                            <input  type="number" 
                                    class="form-control" 
                                    placeholder="Cantidad de producto"
                                    formControlName="cantidad"
                                    [class.is-invalid]= "campoNoValido('cantidad')">
                            <small *ngIf="campoNoValido('cantidad')" class="text-danger">
                                Campo obligatorio
                            </small>
                        </div>
                        <hr class="hr">                        
                        <div class="form-group my-1">
                            <label class="etiqueta" >Precio ($ / Kg):<a class="obligatorio">*</a></label>
                        </div>
                        <div class="form-group">
                            <input  type="number"
                                    id="precio"
                                    class="form-control" 
                                    placeholder="Precio por kilo del producto" 
                                    formControlName="precio"
                                    [class.is-invalid]= "campoNoValido('precio') || controlPrecio">
                            <small *ngIf="campoNoValido('precio') || controlPrecio" class="text-danger">
                                Campo obligatorio
                            </small>
                        </div>
                        <hr class="hr">
                        <div class="form-group my-1">
                            <label class="etiqueta" >Peso promedio (Kg/Animal o Canal):<a class="obligatorio">*</a></label>
                        </div>
                        <div class="form-group">
                            <input  type="number" 
                                    class="form-control" 
                                    placeholder="Peso promedio del producto" 
                                    formControlName="peso"
                                    [class.is-invalid]= "campoNoValido('peso')">
                            <small *ngIf="campoNoValido('peso')" class="text-danger">
                                Campo obligatorio con rango entre 70Kg - 130Kg
                            </small>
                        </div>
                        <hr class="hr">
                        <div class="form-group my-1">
                            <label class="etiqueta" >Ubicación mercado:<a class="obligatorio">*</a></label>
                        </div>
                        <div class="form-group my-1">
                            <select class="selectores w-100"
                                    formControlName="mercado"
                                    [class.is-invalid]= "campoNoValido('mercado')">
                                <option selected disabled value="" >Seleccione una opcion...</option>
                                <option *ngFor="let mercado of mercadoLista" value="{{mercado.Nombre}}">{{mercado.Nombre}}</option>
                            </select>
                            <small *ngIf="campoNoValido('mercado')" class="text-danger">
                                Campo obligatorio
                            </small>
                        </div>
                        <hr class="hr">
                        <div class="form-group my-1">
                            <label class="etiqueta" >Lugar de entrega:<a class="obligatorio">*</a></label>
                        </div>
                        <div class="form-group my-1">
                            <select class="selectores w-100" 
                                    formControlName="entrega"
                                    [class.is-invalid]= "campoNoValido('entrega')">
                                <option selected disabled value="" >Seleccione una opcion...</option>
                                <option *ngFor="let entrega of entregaLista" value="{{entrega.Lugar}}">{{entrega.Lugar}}</option>
                            </select>
                            <small *ngIf="campoNoValido('entrega')" class="text-danger">
                                Campo obligatorio
                            </small>
                        </div>
                        <hr class="hr">
                        <div class="form-group my-1">
                            <label class="etiqueta" >Comentarios:</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Comentario" class="form-control" placeholder="Comentario" (ngModel)="ronda.Comentario">
                        </div>
                        <hr class="hr">
                        <div class="form-group my-1">
                            <label class="etiqueta" >Desea agregar otra operacion:<a class="obligatorio">*</a></label>
                        </div>
                        <div class="form-group my-1 ">
                            <select class="selectores w-100" 
                                    formControlName="enviar"
                                    [class.is-invalid]= "campoNoValido('enviar')">
                                <option selected disabled value="" >Seleccione una opcion...</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                            <small *ngIf="campoNoValido('enviar')" class="text-danger">
                                Campo obligatorio
                            </small>
                        </div>
                        <hr class="hr">
                        <div >
                            <button type="submit" class="btn btn-danger mt-3 w-100">
                                Enviar
                            </button>
                        </div>                            
                    </form>            
                </div>
            </div>
        </div>
    </div>
</div> 
