
<div class="container text-center mt-3">
    <h1>Administrador</h1>
</div>
<app-activar></app-activar>
<app-participacion></app-participacion>
    <div class="admin1" >
        
        <fieldset class="fieldcontent">
            <legend class="fieldcontentTitle">Participación</legend>
            <div class="my-1 py-2"> 
                
                <legend class="fieldcontentTitle">Comparativo de registros semanales</legend>
                <div id="grafico" class="graficos">                                   
                </div>
                <div id="grafico1" class="graficos">                                   
                </div>                    
            </div>
        </fieldset>
        <fieldset class="fieldcontent">
            <legend class="fieldcontentTitle">Filtrar resultados semanales </legend>
            <div class="form-group my-1 py-2">
                <select class="selectores" name="anual" id="anual">                        
                </select>
            </div>                
            <div class="form-group my-1 py-2">
                <select class="selectores" name="semanal" id="semanal">            
                </select>
            </div>
            <div class="form-group my-1 py-2">
                <span class="btn btn-primary mx-2 export" onclick="toExcel('testTable','Registros Semanales')">
                    <i class="fas fa-download" style="margin-right: 20px;"></i>Tabla Resultados Semanales.
                </span> 
            </div>     
        </fieldset> 
        <fieldset class="fieldcontent">
            <legend class="fieldcontentTitle">Buscar Usuario</legend>
            <br>
            <div class="container">
                <input class="form-control btn_busca_Usuario" type="text" id="codigoBuscar" class="form-control" placeholder="Ingrese aqui el código">
                <span class="btn btn-primary btn_busca_Usuario" id="btn_busca_Usuario">
                    <i class="fas fa-search" style="margin-right: 20px;"></i>Buscar
                </span>
            </div>                        
            <div class="contUser">
                <div class="datoUser">
                    <span style="width: 100%;">Nombre</span>
                    <input type="tetx" class="form-control" disabled id="lbl_nombre">
                </div>
                <div class="datoUser">
                    <span style="width: 100%;">Celular</span>
                    <input type="tetx" class="form-control" disabled id="lbl_celular">
                </div>
                <div class="datoUser">
                    <span style="width: 100%;">Email</span>
                    <input type="tetx" class="form-control" disabled id="lbl_email">
                </div>
                <div class="datoUser">
                    <span style="width: 100%;">Granja</span>
                    <input type="tetx" class="form-control" disabled id="lbl_granja">
                </div>
                <div class="datoUser">
                    <span style="width: 100%;">Localización</span>
                    <input type="tetx" class="form-control" disabled id="lbl_localizacion">
                </div>                            
            </div>                       
        </fieldset>                                                   
            


        <fieldset class="fieldcontent" style="display: none;">
            <legend class="fieldcontentTitle">Ronda Con Filtros</legend>
            <div class="my-1 py-2 text-center">
                <div class="container my-1 py-2" style="margin-left: 10px;">
                    <select class="selectores" name="anual" id="anual" style="width: 70%;">
                        
                    </select>
                </div>                
                <div class="container my-1 py-2" style="margin-left: 10px;">
                    <select class="selectores" name="semanal" id="semanal" style="width: 70%;">
                        
                    </select>
                </div>
                <div class="container my-1 py-2" style="margin-left: 10px;">
                    <select class="selectores" name="mercados" id="mercados" style="width: 70%;">
                        
                    </select>
                </div>                    
                
                <span class="btn btn-primary mx-2 export" style="background-color: rgb(69, 121, 69) !important;width: 70%;" onclick="tableToExcel('testTable3', 'Mercados')">
                    <i class="fas fa-download" style="margin-right: 20px;"></i>Tabla Mercado Semanal.
                </span> 
                <span class="btn btn-primary mx-2 export" style="background-color: rgb(69, 121, 69) !important;width: 70%;" onclick="tableToExcel('testTable1', 'Ronda Semanal Resumen')">
                    <i class="fas fa-download" style="margin-right: 20px;"></i>Tabla Resultados Semanales.
                </span>                   
            </div>
        </fieldset>

            <div style="display: none;">
                <!-- tabla general historica -->
                <table class="table" id="testTable" style="font-size: 12px;border:2;" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides" >
                    <thead>
                        <tr >
                            <th style="width: 100px;">Codigo Prod-Mercado</th>
                            <th style="width: 70px;"># Registro</th>
                            <th style="width: 100px;">Corte Semanal</th>
                            <th style="width: 100px;">Usuario</th>                                
                            <th style="width: 110px;">Producto</th>                                    
                            <th style="width: 70px;">Cantidad</th>
                            <th style="width: 90px;">Precio X Kg</th>
                            <th style="width: 100px;">Peso Promedio</th>
                            <th style="width: 120px;">Mercado</th>                                    
                            <th style="width: 120px;">Lugar de entrega</th>
                        </tr>
                    </thead>
                    <tbody id="datos_ronda">
                        
                    </tbody>

                   <!--  Comentado mientras se define donde mostrarse, si funcionan los calculos -->
                    <!-- <thead>
                        <tr>                                    
                            <th style="width: 100px; background-color: blue;">Mercado</th>                                    
                            <th style="width: 100px; background-color: blue;">Producto</th>
                            <th style="width: 100px; background-color: blue;">Participaciones</th>
                            <th style="width: 100px; background-color: blue;">Precio Ponderado $/Kg</th>
                            <th style="width: 100px; background-color: blue;">Total Cantidades</th>
                            <th style="width: 100px; background-color: blue;">Peso</th>                                
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem">
                        
                    </tbody>
                    <thead>
                        <tr >
                            <th style="width: 230px;background-color: blue;">Muestra</th>
                            <th style="width: 230px;background-color: blue;">Producto</th>
                            <th style="width: 230px;background-color: blue;">Participantes</th>
                            <th style="width: 230px;background-color: blue;">Precio Ponderado $/Kg</th>
                            <th style="width: 110px;background-color: blue;">Total Cantidades</th>
                            <th style="width: 70px;background-color: blue;">Peso</th>                                 
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem_total">
                        
                    </tbody> -->
                </table>
            </div>
            <div style="display: none;">
                <!-- tabla Resultado Semanal -->
                <table class="table" id="testTable1" style="font-size: 12px;border:2;" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides" >
                    <thead>
                        <tr>                                    
                            <!-- <th style="width: 70px;">Año</th>
                            <th style="width: 70px;">Semana</th>
                            <th style="width: 100px;">Fecha de Cierre</th> -->
                            <th style="width: 100px;">Mercado</th>                                    
                            <th style="width: 100px;">Producto</th>
                            <th style="width: 100px;">Participaciones</th>
                            <th style="width: 100px;">Precio Ponderado $/Kg</th>
                            <th style="width: 100px;">Total Cantidades</th>
                            <th style="width: 100px;">Peso</th>                                
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem">
                        
                    </tbody>
                </table>
            </div>
            <div style="display: none;">
                <!-- tabla mercado semanal -->
                <table class="table" id="testTable3" style="font-size: 12px;border:2;" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides" >
                    <thead>
                        <tr >
                            <th style="width: 80px;">Total</th>
                            <th style="width: 80px;">Código Individuo</th>
                            <th style="width: 230px;">Usuario</th>
                            <th style="width: 100px;">Cantidad</th>
                            <th style="width: 110px;">Precio X Kg</th>
                            <th style="width: 120px;">Peso Promedio</th>
                            <th style="width: 100px;">Valor Ventas</th>
                            <th style="width: 100px;">Total Peso</th>                                    
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem_mercado_pie">
                        
                    </tbody>
                    <thead>
                        <tr >
                            <th style="width: 80px;">Total</th>
                            <th style="width: 80px;">Código Individuo</th>
                            <th style="width: 230px;">Usuario</th>
                            <th style="width: 100px;">Cantidad</th>
                            <th style="width: 110px;">Precio X Kg</th>
                            <th style="width: 120px;">Peso Promedio</th>
                            <th style="width: 100px;">Valor Ventas</th>
                            <th style="width: 100px;">Total Peso</th>                                    
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem_mercado_cal">
                        
                    </tbody>
                    <thead>
                        <tr >
                            <th style="width: 80px;">Total</th>
                            <th style="width: 80px;">Código Individuo</th>
                            <th style="width: 230px;">Usuario</th>
                            <th style="width: 100px;">Cantidad</th>
                            <th style="width: 110px;">Precio X Kg</th>
                            <th style="width: 120px;">Peso Promedio</th>
                            <th style="width: 100px;">Valor Ventas</th>
                            <th style="width: 100px;">Total Peso</th>                                    
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem_mercado_fria">
                        
                    </tbody>
                </table>
            </div>
            <div style="display: none;">
                <table class="table" id="testTable2" style="font-size: 12px;border:2;" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides" >
                    <thead>
                        <tr >
                            <th style="width: 230px;">Muestra</th>
                            <th style="width: 230px;">Producto</th>
                            <th style="width: 230px;">Participantes</th>
                            <th style="width: 230px;">Precio Ponderado $/Kg</th>
                            <th style="width: 110px;">Total Cantidades</th>
                            <th style="width: 70px;">Peso</th>                                 
                        </tr>
                    </thead>
                    <tbody id="datos_ronda_filtro_sem_total">
                        
                    </tbody>
                </table>
            </div>
       
    </div>

