<div class="container my-1 py-2">
    <button type="button" class="btn btn-outline-danger mt-3 w-100" routerLink="/admin">
        Atras
    </button>
</div>
<table class="table mt-2" id="excel-table" style="font-size: 12px;border:2;" >
    <thead>
        <tr> 
            <th style="width: 40px;">#</th>                                   
            <th style="width: 40px;">Nombre</th>                                    
            <th style="width: 40px;">Apellido</th>
            <th style="width: 50px;">Granja</th> 
            <th style="width: 40px;">Localización</th> 
            <th style="width: 40px;">Email</th>                                      
            <th style="width: 30px;">Celular</th> 
            <th scope="col">Activar</th>                         
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listaUser; index as i">
            <td>{{i+1}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.apellido}}</td>
            <td>{{user.granja}}</td>
            <td>{{user.localizacion}}</td>
            <td>{{user.email}}</td>
            <td>{{user.celular}}</td>
            <td>
                <i (click)="activarU(user)" class="fas fa-edit"></i>
            </td> 
        </tr>                                
    </tbody>
</table>  