<fieldset class="fieldcontent">
    <legend class="fieldcontentTitle">Participación</legend>
    <span class="mx-2">Han participado: {{participantes}} de: {{totalUsuarios-1}} usuarios registrados.</span>
    <br>
    <span class="mx-2">Lista de usuarios sin participar</span>
    <span class="btn btn-primary mx-2 w-25 export" (click) = "exportToExcel()">    
        <i class="fas fa-download" style="margin-right: 5px;"></i>
    </span>    
      
    <!-- tabla usuarios que no han participado -->
      <table class="table mt-2" id="excel-table" style="font-size: 12px;border:2;" >
            <thead>
                <tr>                                    
                    <th style="width: 60px;">Codigo</th>                                    
                    <th style="width: 60px;">Celular</th>
                    <th style="width: 110;">Nombre</th>
                    <th style="width: 150px;">Granja</th>                                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of listaUser">
                    <td>{{user.CodigoMostrar}}</td>
                    <td>{{user.Celular}}</td>
                    <td>{{user.Nombre}}</td>
                    <td>{{user.Granja}}</td>
                </tr>                                
            </tbody>
        </table> 
    
</fieldset>
