<div class="container">
    <div class="container text-center mt-2">
        <h4>Autenticar usuario</h4>
    </div>
</div>                
<div class="modal-body">
    <form (ngSubmit) = "login(formLogin)" #formLogin = "ngForm">
        <div class="form-group py-1">
            <input type="email" name="email" class="form-control" placeholder="Digite aqui su correo electrónico" required [(ngModel)]= "usuario.Email">
        </div>
        <div class="form-group py-1">
            <input type="password" name="password" minlength="6" class="form-control" placeholder="Digite aqui su contraseña" required [(ngModel)]= "usuario.Password">
        </div>                                               
        <button type="submit" class="btn btn-danger mt-3 w-100" >
            <span style="font-size: 20px;">Validar Usuario</span>            
        </button>
        <div class="form-group py-1">
            <label>
                <a routerLink="/olvideClave" class="txt1">¿Clik aqui para recuperar su contraseña?</a>                
            </label>
        </div>                      
    </form>                          
</div>

