a{
    color: black !important;
}
.etiqueta{
    font-weight: bold !important;
    border-style: none !important;
}

.obligatorio{
    margin-left: 5px;
    color: red !important;
    text-decoration: none;
    font-weight: bold;
}

.info{
    font-size: 12px;
    text-decoration: none;
    float: right;
    font-family: 'Segoe UI';
}

.selectores{
    height: 40px; 
    border-color: rgb(223, 221, 221); 
    border-radius: 5px;
    margin-left: 2px !important;    
}
