a{
    color: black !important;
}

button{
    font-weight: bold !important;
    border-radius: 10px !important;
}

.etiqueta{
    font-weight: bold !important;
    border-style: none !important;
}

.obligatorio{
    margin-left: 5px;
    color: red !important;
    text-decoration: none;
    font-weight: bold;
}

.info{
    font-size: 12px;
    text-decoration: none;
    float: right;
    font-family: 'Segoe UI';
}

.selectores{
    height: 40px; 
    border-color: rgb(223, 221, 221); 
    border-radius: 5px;
    margin-left: 2px !important;    
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #827ffe;
    border-radius: 3px;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  
  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .fieldcontent {
    display: block;
    width: 97%;
    margin: 15px 5px;
    padding-bottom: 50px;
    /* padding-left: 0.75em;
    padding-right: 0.75em; */
    border-radius: 15px;
    border: solid 0.005rem rgb(167,167,167);
}

.fieldcontentTitle{
    color: black;
    padding: 10px 5px;
    width: auto;
    margin-left: 10px;
    font-family: 'Segoe UI';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-danger{    
    background-color: rgb(240, 34, 82) !important;
    font-weight:lighter !important;
    font-size: 20px !important;
}
.btn-primary{    
    background-color: rgb(4, 153, 253) !important;
    font-weight:lighter !important;
    font-size: 20px !important;
}

.export{
    background-color:rgb(3, 110, 3) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family:'Segoe UI', "Helvetica Neue", sans-serif; }

.fondo{
    background-color: rgb(240, 34, 82)!important;
    width: 100%;
    color: white;
    padding: auto;
    text-align: center;
    padding: 3px 0px;
}